<xf:css>
.p-footer-at_pgsat_timeStats {
    margin-top: 0px;
    text-align: center;
    font-size: 11px;
	order: 100;
}
</xf:css>

<xf:if is="{{ $xf.visitor.hasPermission('general', 'at_pgsat_time') }}"><xf:if contentcheck="true">
	<div class="p-footer-at_pgsat_timeStats">
		<xf:contentcheck>
			<ul class="listInline listInline--bullet listInline--selfInline">
				<li><dl class="pairs pairs--inline">
					<dt>{{ phrase('at_pgsat_pageTime') }}</dt>
					<xf:if is="property('at_pgsat_dateTime') == 'time'"><dd>{{time($xf.time)}}</dd></xf:if>
					<xf:if is="property('at_pgsat_dateTime') == 'date'"><dd>{{date($xf.time)}}</dd></xf:if>
					<xf:if is="property('at_pgsat_dateTime') == 'datetime'"><dd>{{date_time($xf.time)}}</dd></xf:if>
					</dl></li>
			</ul>
		</xf:contentcheck>
	</div>
</xf:if></xf:if>

<xf:if is="{{ $xf.visitor.hasPermission('general', 'at_pgsat_stats') }}"><xf:if contentcheck="true">
	<div class="p-footer-at_pgsat_timeStats">
		<xf:contentcheck>
			<ul class="listInline listInline--bullet listInline--selfInline">
				<li><dl class="pairs pairs--inline">
					<dt>{{ phrase('at_pgsat_generateTime') }}</dt>
					<dd><!--XF:PAGE_TIME-->s</dd>
					</dl></li>
				<li><dl class="pairs pairs--inline">
					<dt>{{ phrase('total_queries') }}</dt>
					<dd><!--XF:QUERIES--></dd>
					</dl></li>
				<li><dl class="pairs pairs--inline">
					<dt>{{ phrase('max_memory') }}</dt>
					<dd><!--XF:MEMORY_PEAK--></dd>
					</dl></li>
			</ul>
		</xf:contentcheck>
	</div>
</xf:if></xf:if>